@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEFA;
}

.weather_container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input,button {
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
}
button:hover {
    cursor: pointer;
}

#weatherResult {
    margin-top: 20px;
}

